[build-system]
build-backend = "flit_core.buildapi"
requires = ["flit_core >=3.2,<4"]

[project]
authors = [{name = "Stephan Fitzpatrick", email = "knowsuchagency@gmail.com"}]
classifiers = ["License :: OSI Approved :: Apache Software License"]
description = "A simple yet powerful abstraction for litellm and pydantic"
license = {file = "LICENSE"}
name = "promptic"
requires = [
  "litellm~=1.38",
  "pydantic~=2.7",
]
version = "0.3.0"
readme = "README.md"

[project.urls]
Home = "https://github.com/knowsuchagency/promptic"
