name: Publish to PyPI

on:
  workflow_run:
    workflows: ["Python Tests"]
    types:
      - completed
    branches:
      - main

jobs:
  pypi-publish:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    name: upload release to PyPI
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v2
      - name: Install Flit
        run: pip install flit
      - name: Build Package
        run: flit build
      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          skip-existing: true
